body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

select, button{
    background-color: antiquewhite;
    color: black;
    border: none;
    border-radius: 5px;
}

#display {
    height: 1500px;
    aspect-ratio: 1;
}
