body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

select, button{
    background-color: antiquewhite;
    color: black;
    border: none;
    border-radius: 5px;
}

.display {
    height: 600px;
    position: relative;
    height: 600px;
    aspect-ratio: 1;
}

canvas {
    top:0;
    left:0;
    position: absolute;
    height: 600px;
    aspect-ratio: 1;
}

#maze{
    z-index: 1;
}

#user{
    z-index: 2;
}

#blind{
    z-index: 3;
}

#solution{
    z-index: 4;
    opacity: 0%;
}

