body{
    background-color: black;
    color: antiquewhite;
}

select, button{
    background-color: antiquewhite;
    color: black;
    border: none;
    border-radius: 5px;
}

#display {
    border:1px solid red;
    width: 450px;
    aspect-ratio: 1;
}
